USE [master]
GO
/****** Object:  Database [CartridgeAccountingDB]    Script Date: 25.05.2026 9:30:16 ******/
CREATE DATABASE [CartridgeAccountingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CartridgeAccountingDB', FILENAME = N'C:\Users\Администратор\Desktop\MSSQL17.SQLEXPRESS\MSSQL\DATA\CartridgeAccountingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CartridgeAccountingDB_log', FILENAME = N'C:\Users\Администратор\Desktop\MSSQL17.SQLEXPRESS\MSSQL\DATA\CartridgeAccountingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CartridgeAccountingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CartridgeAccountingDB]
GO
/****** Object:  Table [dbo].[CartridgeModels]    Script Date: 25.05.2026 9:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartridgeModels](
	[ModelID] [int] NOT NULL,
	[ModelName] [nvarchar](200) NOT NULL,
	[CompatiblePrinters] [nvarchar](255) NULL,
	[StandardResourse] [int] NULL,
	[ColorType] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cartridges]    Script Date: 25.05.2026 9:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cartridges](
	[CartridgesID] [int] NOT NULL,
	[InventoryNumber] [nvarchar](50) NOT NULL,
	[ModelID] [int] NOT NULL,
	[CurrentStatusID] [int] NOT NULL,
	[CurrentDepartmentID] [int] NULL,
	[PurchaseDate] [date] NULL,
	[InitialCost] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartridgesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 25.05.2026 9:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentsID] [int] NOT NULL,
	[DepartmentName] [nvarchar](150) NOT NULL,
	[Building] [nvarchar](50) NULL,
	[ResponsiblePerson] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovementHistory]    Script Date: 25.05.2026 9:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovementHistory](
	[MovementID] [int] NOT NULL,
	[CartridgeID] [int] NOT NULL,
	[MovementDateTime] [datetime] NOT NULL,
	[OperationsTypeID] [int] NOT NULL,
	[DepartmentID] [int] NULL,
	[IssuedByEmployee] [nvarchar](100) NULL,
	[ReceivedByEmployee] [nvarchar](100) NULL,
	[Notes] [nvarchar](500) NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationsType]    Script Date: 25.05.2026 9:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationsType](
	[OperationsTypeID] [int] NOT NULL,
	[OperationsCode] [nvarchar](20) NOT NULL,
	[OperationName] [nvarchar](100) NOT NULL,
	[Direction] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OperationsTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 25.05.2026 9:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusID] [int] NOT NULL,
	[StatusName] [nvarchar](50) NULL,
	[StatusDiscription] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.05.2026 9:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cartridges_CurrentStatus]    Script Date: 25.05.2026 9:30:17 ******/
CREATE NONCLUSTERED INDEX [IX_Cartridges_CurrentStatus] ON [dbo].[Cartridges]
(
	[CurrentStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cartridges_Inventory]    Script Date: 25.05.2026 9:30:17 ******/
CREATE NONCLUSTERED INDEX [IX_Cartridges_Inventory] ON [dbo].[Cartridges]
(
	[InventoryNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movement_CartridgeID]    Script Date: 25.05.2026 9:30:17 ******/
CREATE NONCLUSTERED INDEX [IX_Movement_CartridgeID] ON [dbo].[MovementHistory]
(
	[CartridgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movement_DataTime]    Script Date: 25.05.2026 9:30:17 ******/
CREATE NONCLUSTERED INDEX [IX_Movement_DataTime] ON [dbo].[MovementHistory]
(
	[MovementDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartridgeModels] ADD  DEFAULT ('ЧБ') FOR [ColorType]
GO
ALTER TABLE [dbo].[Cartridges] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MovementHistory] ADD  DEFAULT (getdate()) FOR [MovementDateTime]
GO
ALTER TABLE [dbo].[Cartridges]  WITH CHECK ADD  CONSTRAINT [FK_Cartridges_Departments] FOREIGN KEY([CurrentDepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentsID])
GO
ALTER TABLE [dbo].[Cartridges] CHECK CONSTRAINT [FK_Cartridges_Departments]
GO
ALTER TABLE [dbo].[Cartridges]  WITH CHECK ADD  CONSTRAINT [FK_Cartridges_Models] FOREIGN KEY([ModelID])
REFERENCES [dbo].[CartridgeModels] ([ModelID])
GO
ALTER TABLE [dbo].[Cartridges] CHECK CONSTRAINT [FK_Cartridges_Models]
GO
ALTER TABLE [dbo].[Cartridges]  WITH CHECK ADD  CONSTRAINT [FK_Cartridges_Statuses] FOREIGN KEY([CurrentStatusID])
REFERENCES [dbo].[Statuses] ([StatusID])
GO
ALTER TABLE [dbo].[Cartridges] CHECK CONSTRAINT [FK_Cartridges_Statuses]
GO
ALTER TABLE [dbo].[MovementHistory]  WITH CHECK ADD  CONSTRAINT [FK_Movement_Cartridge] FOREIGN KEY([CartridgeID])
REFERENCES [dbo].[Cartridges] ([CartridgesID])
GO
ALTER TABLE [dbo].[MovementHistory] CHECK CONSTRAINT [FK_Movement_Cartridge]
GO
ALTER TABLE [dbo].[MovementHistory]  WITH CHECK ADD  CONSTRAINT [FK_Movement_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentsID])
GO
ALTER TABLE [dbo].[MovementHistory] CHECK CONSTRAINT [FK_Movement_Department]
GO
ALTER TABLE [dbo].[MovementHistory]  WITH CHECK ADD  CONSTRAINT [FK_Movement_OperationType] FOREIGN KEY([OperationsTypeID])
REFERENCES [dbo].[OperationsType] ([OperationsTypeID])
GO
ALTER TABLE [dbo].[MovementHistory] CHECK CONSTRAINT [FK_Movement_OperationType]
GO
ALTER TABLE [dbo].[MovementHistory]  WITH CHECK ADD  CONSTRAINT [FK_MovementHistory_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MovementHistory] CHECK CONSTRAINT [FK_MovementHistory_Users]
GO
ALTER TABLE [dbo].[CartridgeModels]  WITH CHECK ADD CHECK  (([ColorType]='Цветной' OR [ColorType]='ЧБ'))
GO
ALTER TABLE [dbo].[OperationsType]  WITH CHECK ADD CHECK  (([Direction]='Приём' OR [Direction]='Выдача'))
GO
USE [master]
GO
